# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/

# Logs
*.log

# Environment
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Temporary
*.tmp
*.temp